* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgba(
    51,
    51,
    51,
    0.7
  ); /* Adjust the alpha value for transparency */
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  padding: 10px 20px;
  z-index: 1000px;
  font-size: 20px;
  justify-content: space-around; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  flex: 1; /* Distribute available space equally among the items */
  text-align: center; /* Center the text within each link */
}

body {
  padding-top: 60px;
  font-family: 'Silkscreen', sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-size: 20px; /* Adjust the font size for h1 elements */
}

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease-out;
  transform-origin: 50% 50%;
  mix-blend-mode: difference;
}

#dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #000000;
  border-radius: 50%;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glowing-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  mix-blend-mode: screen;
  pointer-events: none;
  transition: transform 0.3s ease-out, filter 0.3s ease-out;
  filter: blur(10px);
}

/* Header Styles */
.header {
  text-align: center;
  padding: 20px 0;
}

.header-image {
  max-width: 400px;
  height: auto;
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 3s ease; /* Add a 3-second transition for opacity */
}

.header-text {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
}

.centered-links {
  text-align: center;
}

.link-image {
  display: inline-block;
  margin: 10px;
  text-align: center;
  max-width: 50px; /* Set the maximum width for the images */
  text-decoration: none; /* Remove text decoration for anchor elements */
  transition: transform 0.3s ease-in-out;
}

.link-image:hover {
  transform: scale(1.2); /* Increase the size of the image on hover */
}

/* Add a subtle shadow effect on hover */
.link-image:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.link-image img {
  width: 100%; /* Ensure images fill their container */
  height: auto; /* Maintain aspect ratio */
}

/* Main Content Section Styles */

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2,
p,
h3,
h4 {
  padding: 10px; /* Adjust the padding value as needed */
}

/* CSS styles for the list */
ul {
  list-style-type: disc; /* Use disc bullets (•) */
  margin-left: 40px; /* Adjust the indentation as needed */
  padding-left: 0; /* Remove default padding */
}

li {
  margin-bottom: 5px; /* Add space between list items */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  /* Add styles for screens with a max width of 768px */
  .header-text {
    top: 2%;
    font-size: 10px; /* Adjust the font size for smaller screens */
  }
  .header-image {
    max-width: 80%;
  }
  .header {
    padding: 10px 0; /* Reduce padding for smaller screens */
  }
  .section {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .section h2 {
    font-size: 24px; /* Reduce font size for h2 on smaller screens */
  }

  .section p {
    font-size: 16px; /* Reduce font size for paragraphs on smaller screens */
  }
}

.iframe-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
}

iframe {
  width: 80%; /* Adjust the width as per requirement */
  height: 80vh; /* Adjust the height as per requirement */
  border: none; /* Optional: Removes the border */
}

.project-link {
  color: inherit; /* This makes the link use the text color of its parent element */
  text-decoration: none; /* Removes underline from links */
  font-weight: bold; /* Makes the link text bold */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.project-link:hover,
.project-link:focus {
  color: #000; /* Change to desired hover color */
  cursor: pointer; /* Changes cursor to the pointer hand */
  text-decoration: underline; /* Adds underline on hover for more emphasis */
}
